<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - JS Watcher</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container login-container">
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
        {{ if .Flashes }}
          <ul class="flashes">
            {{ range .Flashes }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        {{ end }}
    </div>
</body>
</html>